.main-div {
  background-image: url('../img/img-2/sunset.png');
  background-size: cover;
  height: 100vh;
  opacity: 0.9;
}

.home-title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 300;
  letter-spacing: 7px;
  margin: 0;
}

.searchbar {
  display: flex;
  margin: auto;
  width: 600px;
  height: 35px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 1);
}

.searchbar > input {
  border: 0;
  margin: 0 0 0 20px;
  background-color: transparent;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.searchbar > input:focus{outline: none;}

.searchbar > input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px;
}

.searchbar > div {cursor: pointer;}

.searchbar > div > button {
  margin: 7px 20px 0 auto;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.map-homepage {
  display: flex;
  justify-content: center;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-card {
  width: 1000px;
  justify-content: space-around;
  margin: 50px auto auto 10%;
  overflow: hidden;
  height: 0px;

  background: rgba(255, 255, 255, 0.385);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgb(255, 255, 255);
}

.option-btn-container {background-color: #ff0000;}

.option-parent {
  background-color: rgba(89, 89, 89, 0.459);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 1);
  height: 40px;
  width: 40px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  bottom: 0;
  right: 0;
  position: fixed;
  margin: 100px;
  text-align: center;
}

.option-parent:hover {
    height: 200px;
    background-color: transparent;
    border-color: transparent;
}

.option-parent:hover > button{ opacity: 1; }

.option-parent > button {
  background-color: rgba(89, 89, 89, 0.459);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 1);
  height: 40px;
  width: 40px;
  margin: 10px 0 10px 0;
  color: white;
  font-weight: 600;
  font-size: 16px;
  opacity: 0;
}

.left-bar {
  overflow: hidden;
  margin: 50px 0 0 0;
}

.page-loader {
  background-color: #33495f;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.page-loader-gif {
  margin-top: 35vh;
  height: 250px;
}

.loading-txt {
  margin-left: 4.1vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 20px;
}

.error-page-png {
  margin-top: 20vh;
  height: 500px;
}

.error-txt {
  margin-left: 9.5vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 300;
  letter-spacing: 12px;
  font-size: 40px;
  word-spacing: 7.5px;
  text-transform: uppercase;
}

.error-txt-2 {
  margin-left: 15vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: 300;
  letter-spacing: 12px;
  font-size: 20px;
  word-spacing: 7.5px;
  text-transform: uppercase;
}