.graph-main {
    background-color:white;
    border-radius: 25px;
    overflow: scroll;
    margin-top: -10px;
}

.temp-data-popup {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    word-spacing: 100px;
    display: flex;
    justify-content: center;
    line-height: 25px;
    overflow: scroll;
}

.wind-graph {
    margin-top: -20px;
}