.graph-main {
    background-color:white;
    border-radius: 25px;
    overflow: hidden;
}

.temp-data-popup {
    width: 100%;
    height: 100%;
    word-spacing: 100px;
    display: flex;
    justify-content: center;
}