.search-results-bg {
    margin: 50px 0 0 0;
    width: 600px;
    display: flex;
    justify-content: space-around;
    margin: 50px auto auto auto;

    // glass background effect
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.p-temperature, .p-humidity {
    color: white;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 5px;
    text-align: center;
    margin: 15px 0 15px 0;
}